* {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}
body{
	background-color:black;
}
#logo nav {
	width: 100%;
	height: 60px;
	background-color:#1C1C1C;
}
#logo nav p {
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 24px;
	line-height: 55px;
	float: left;
	padding: 0px 20px;
}
#logo nav ul {
    float:left;
}
#logo nav ul li {
	float:left;
	list-style:none;
	position:relative;
}
#logo nav ul li a {
	display: block;
	font-family:Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: 14px;
	padding: 22px 14px;
	text-decoration: none;
}
#logo nav ul li a:hover {
	color:	#FF0000;
		background-color: #808080;
}

#logo nav ul li ul {
	display: none;
	position: relative;
	background-color: #1C1C1C;
	padding:10px;
	border-radius: 0px 0px 5px 5px;	
	position: absolute;
}
#logo nav ul li:hover ul{
   display:block;
}

#logo nav ul li ul li {
	width: 180px;
	border-radius: 4px;
}
#logo nav ul li ul li a {
   padding: 8px 14px;    
}
#logo nav ul li ul li a:hover {
	background-color: #808080;

}
#menu {
	width:15%;
	height:700px;
	background-color:#1C1C1C;
	float: left;
}

#menu form {

	position:center;
	text-align:center;
	width:70%;
	height: 90%;
	background-color: rgb(68,183,190);
	border-radius: 2px 2px 2px 2px;	
	margin-left:20px;
	margin-right:20px;
	
}
#menu marquee{
	font-size:8px;
	font-family:Arial, Helvetica, sans-serif;

}
#menu h1{
 margin-top:5px;
 margin-bottom:px;
	color: #D3D3D3;
	text-shadow:-2px 1px 1px black;
 
}
#menu marquee img{
	margin-top:5px;
		box-shadow:-2px 4px 1px black;

}


#conteudo {
	width:85%;
	height:700px;
    background-color:  rgb(68,183,190);
	float:right;
}
#conteudo form {

	position:center;
	width:98%;
	height: 45%;
	background-color:#1C1C1C;
	border-radius: 2px 2px 2px 2px;	
	margin-left:1%;
	margin-right:1%;
	box-shadow: 1px 1px 1px #000000;
}
#conteudo  p {
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 30px;
	color:  rgb(68,183,190);
	text-shadow:-2px 1px 1px black;
	
	
}
#conteudo  h1{
	font-size: 20px;
	margin-top:10px;
	margin-left: 40px;
	margin-right: 20px;
	color: #D3D3D3;

}
#conteudo  h2{
	text-align: left;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 25px;
	color:  rgb(68,183,190);
	text-shadow:-2px 1px 1px black;
	margin-left: 40px;
}
#conteudo  h3{
	font-size: 20px;
	margin-top:10px;
	margin-left: 40px;
	margin-right: 20px;
	color: #D3D3D3;
}

#rodape {
	width: 100%;
	height: 50px;
	background-color: #4c4c4c;
	clear: both;
}
#rodape h1{
  	font-family: Arial, Helvetica, sans-serif;
	color: rgb(68,183,190);
	font-size:20px;
	text-align:center;
	 margin-top:20px;
	
}
a{
	color:inherit;
text-decoration: none;
}